<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    {% if logged_in %}
        <a class="logged-in-text"> Zalogowany z rolą {{ role }}</a>
        <a class="logout-link" href="{{ url_for('auth_bp.logout') }}">Wyloguj</a>
    {% else %}
        <a class="login-link" href="{{ url_for('auth_bp.login') }}">Zaloguj</a>
    {% endif %}

    <h1>Strona główna</h1>
    <a href="{{ url_for('auth_bp.auth') }}">Zarządzanie użytkownikami</a>



</body>
</html>