<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    {% block head %}
    <title>Strona główna</title>
    {% endblock %}

</head>
<body>

    {% if logged_in %}
        <a class="logged-in-text"> Zalogowany z rolą {{ role_name }}</a>
        <a class="logout-link" href="{{ url_for('auth_bp.logout') }}">Wyloguj</a>
    {% else %}
        <a class="login-link" href="{{ url_for('auth_bp.login') }}">Zaloguj</a>
    {% endif %}

    <a href="{{ url_for('index_bp.index') }}">
    <img class="hyperloop_logo" src="{{ url_for('static', filename='img/hyperloop_logo.png') }}" alt="hyperloop_logo.png">
    </a>

    {% if logged_in %}
    <nav class="navigation">
        <ul class="menu">
            <li><a href="#">Przeglądy</a></li>
            <li><a href="{{ url_for('repairs_bp.list_repairs') }}">Naprawy</a></li>
            <li><a href="{{ url_for('service_bp.service') }}">Serwisanci</a></li>
            <li><a href="{{ url_for('reports_bp.reports') }}">Raporty</a></li>
            <li><a href="{{ url_for('infr_bp.infrastructure') }}">Infrastruktura</a></li>
            <li><a href="{{ url_for('auth_bp.auth') }}">Zarządzanie użytkownikami</a></li>
        </ul>
    </nav>
    {% endif %}

    {% block content %}
    {% from "./repairs/macros.html" import better_none with context %}
        {% if logged_in %}
        <link href="{{ url_for('static', filename='css/main-site.css') }}" rel="stylesheet">
        <div id="menu_container" class="elements_container">
            <div id="greetings" class="element">
                <p> Witaj, {{ user_name }}!</p>
            </div>

            <div class="last-elements">
                <div class="last-inspections">
                    <div id="last-inspections-signature" class="element">
                        <p>Ostatnie przeglądy</p>
                    </div>
                    {% for inspection in inspections %}
                    <div class="element">
                        <div class=element_data> <span class="element_description">Id:</span> <span class="element_value"> {{ inspection.id }} </span> </div>
                        <div class=element_data> <span class="element_description">Id typu przeglądu:</span> <span class="element_value"> {{ inspection.typ_przegladu_id }} </span> </div>
                        <div class=element_data> <span class="element_description">Id serwisanta:</span> <span class="element_value"> {{ inspection.serwisant_id }} </span> </div>
                        <div class=element_data> <span class="element_description">Data rozpoczęcia:</span> <span class="element_value"> {{ inspection.data_rozpoczecia }} </span> </div>
                        <div class=element_data> <span class="element_description">Data zakończenia:</span> <span class="element_value"> {{ better_none(inspection.data_zakonczenia) }} </span> </div>
                        <div class=element_data> <span class="element_description">Koszt:</span> <span class="element_value"> {{ inspection.koszt }} pln </span> </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="last-repairs">
                    <div id="last-repairs-signature" class="element">
                        <p>Ostatnie naprawy</p>
                    </div>
                    {% for repair in repairs %}
                    <div class="element">
                        <div class=element_data> <span class="element_description">Id:</span> <span class="element_value"> {{ repair.id }} </span> </div>
                        <div class=element_data> <span class="element_description">Id powodu naprawy:</span> <span class="element_value"> {{ repair.powod_id }} </span> </div>
                        <div class=element_data> <span class="element_description">Id serwisanta:</span> <span class="element_value"> {{ repair.serwisant_id }} </span> </div>
                        <div class=element_data> <span class="element_description">Id elementu infrastruktury:</span> <span class="element_value">{{ repair.element_id }} </span> </div>
                        <div class=element_data> <span class="element_description">Data rozpoczęcia:</span> <span class="element_value"> {{ repair.data_rozpoczecia }} </span> </div>
                        <div class=element_data> <span class="element_description">Data zakończenia:</span> <span class="element_value"> {{ better_none(repair.data_zakonczenia) }} </span> </div>
                        <div class=element_data> <span class="element_description">Koszt:</span> <span class="element_value"> {{ repair.koszt }} pln </span> </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% endif %}
    {% endblock %}



</body>
</html>