{% extends 'index.html' %}
{% block head %}

<title>Przeglądy</title>
<link href="/static/css/inspections.css" rel="stylesheet">
{% endblock %}

{% block content %}
{% if logged_in %}

<div class="container">
    <h1>Przeglądy</h1>
    <a href="{{ url_for('inspections_ui.inspections_create') }}" class="a-button" id="add-item">Dodaj przegląd</a>
    <div class="header inspections" id="inspections-header">
        <span>Id</span>
        <span>Typ</span>
        <span>Serwisant</span>
        <span>Powód</span>
        <span>Opis</span>
        <span>Rozpoczęcie</span>
        <span>Zakończenie</span>
        <span>Koszt</span>
        <span>Usuń</span>
    </div>
    <div id="list-container">
    </div>
    <div class="page-buttons">
        <a class="a-button page" id="prev-page">Poprzednia strona</a>
        <a class="a-button page" id="next-page">Następna strona</a>
    </div>
</div>

<div class="popup" id="popup">
    <h3 id="popup-msg">MSG</h3>
    <a class="a-button" id="popup-button">OK</a>
</div>

<script>
    const API = "/api/inspections";
    const FIELDS = ["id", "typ_przegladu", "serwisant", "powod", "opis_zakresu_prac", "data_rozpoczecia", "data_zakonczenia", "koszt"]
    const NUMERIC_FIELDS = new Set(["koszt"]);
    var ADMIN = false;
</script>

{% if session['is_admin'] %}
<script>
    ADMIN = true;
</script>
{% endif %}
<script src="/static/js/inspections.js"></script>

{% endif %}
{% endblock %}