.a-button {
    display: block;
    width: 200px;
    padding: 10px;
    margin: 10px;
    text-align: center;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

.a-button:hover {
    background-color: #aaa;
}