/* Stylizacja dla całego formularza */
.create_form_div {
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
    width: 800px;
}

.create_form_div form dl {
    display: flex;
    flex-wrap: wrap;
}

.create_form_div form dl dt {
    width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}

.create_form_div form dl dd {
    width: 100%;
    margin-bottom: 20px;
}

.create_form_div form dl dd input,
.create_form_div form dl dd select {
    width: 97%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.create_form_div form dl dd select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.create_form_div form p {
    text-align: center;
}

.create_form_div form p input[type="submit"] {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.create_form_div form p input[type="submit"]:hover {
    background-color: #218838;
}

/* Stylizacja dla wybranego pola */
.chosen_field_wrapper {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #e9ecef;
}

.chosen_field_description {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.chosen_field_data_wrapper {
    font-size: 14px;
    line-height: 1.6;
}

.chosen_field_data_inside_div {
    margin-top: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#remarks {
    resize: none;
    width: 97%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}


