.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
}
.login-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: green;
    text-decoration: underline;
}
.logged-in-text {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-link {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: green;
    text-decoration: underline;
}
h1 {
    margin-top: 40px;
}
