.home-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: blue;
    text-decoration: underline;
}
.login-link {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: green;
    text-decoration: underline;
}
.logged-in-text {
    position: absolute;
    top: 10px;
    right: 10px;
}
.logout-link {
    position: absolute;
    top: 30px;
    right: 10px;
    background-color: transparent;
    border: none;
    color: green;
    text-decoration: underline;
}
h1 {
    margin-top: 40px;
}
.hyperloop_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}
.navigation > .menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #efefef;
}
  
.navigation > .menu >  li {
    float: left;
}
  
.navigation > .menu > li > a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navigation > .menu > li > a:hover {
    background-color: #9c9c9c;
}