{% extends 'index.html' %}
{% from "./repairs/macros.html" import render_messages with context %}

{% block head %}
<title>Serwisanci</title>
{% endblock %}

{% block content %}

<link href="{{ url_for('static', filename='css/services.css') }}" rel="stylesheet">

{{render_messages(get_flashed_messages(with_categories=true))}}

<div id="services_container" class="elements_container">

  <div class="add_element_div">
    <a href='{{ url_for("service_bp.create_service") }}'> Dodaj serwisanta </a>
  </div>


  {% for service in services %}
  <div class="element">
    <div class=element_data> <span class="element_description">Id:</span> <span class="element_value"> {{ service.id }} </span> </div>
    <div class=element_data> <span class="element_description">Nazwa:</span> <span class="element_value"> {{ service.nazwa}} </span> </div>
    <div class=element_data> <span class="element_description">Nr telefonu:</span> <span class="element_value"> {{ service.nr_telefonu }} </span> </div>
    <div class=element_data> <span class="element_description">Adres e-mail: </span><span class="element_value"> {{ service.adres_mail }} </span> </div>

    {% if session['is_admin'] %}
      <div class="delete_element_form">
        <form method="post" action="{{ url_for('service_bp.delete_service', id=service.id) }}">
            <input type="submit" value="Usuń">
        </form>
      </div>
    {% endif %}
  </div>
  {% endfor %}

</div>
{% endblock %}