{% extends 'index.html' %}
{% from "./repairs/macros.html" import render_messages with context %}

{% block head %}
    <style>
    h1 {
        margin-top: 40px;
    }
    </style>
    <title>Elementy Infrastruktury</title>
{% endblock %}

{% block content %}
    <link href="{{ url_for('static', filename='css/infrastructure.css') }}" rel="stylesheet">

    {{render_messages(get_flashed_messages(with_categories=true))}}

    <div class="elements_container">
        <br>
        <nav class="infrastructure_navigation">
            <a href="{{ url_for('infr_bp.locations') }}">Lokalizacje</a><br>
            <a href="{{ url_for('infr_bp.objects') }}">Obiekty</a><br>
            <a href="{{ url_for('infr_bp.types') }}">Typy Infrastruktury</a><br>
            <a href="{{ url_for('infr_bp.statuses') }}">Statusy</a><br>
        </nav>
        <h1 class="signature">Lista elementów infrastruktury</h1>
        <ul class="table">
            <div class="list-container">
                <div class="list-legend">
                    <span>Id</span>
                    <span>Id typu</span>
                    <span>Id lokalizacji</span>
                    <span>Id obiektu</span>
                    <span>Id statusu</span>
                    <span>Opis</span>
                    {% if session['is_admin'] %}
                        <span>Usuwanie</span>
                    {% endif %}
                </div>
                <ul class="formatted-list">
                    {% for element in elements %}
                        <li>
                            <span>{{ element.id }}</span>
                            <span>{{ element.typ }}</span>
                            <span>{{ element.lokalizacja }}</span>
                            <span>{{ element.obiekt }}</span>
                            <span>{{ element.status }}</span>
                            <span>{{ element.opis }}</span>
                            {% if session['is_admin'] %}
                                <span class="delete_button"><a href="{{ url_for('infr_bp.delete_element', id=element.id) }}">Usuń</a></span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
        <a class="button" href="{{ url_for('infr_bp.create_element') }}">Dodaj element</a><br><br>
    </div>
{% endblock %}

