{% extends 'index.html' %}
{% block head %}
    <style>
    h1 {
        margin-top: 40px;
    }
    </style>
    <title>Elementy Infrastruktury</title>
{% endblock %}

{% block content %}
    {% if logged_in %}
        <a class="logged-in-text"> Zalogowany z rolą {{ role_name }}</a>
        <a class="logout-link" href="{{ url_for('auth_bp.logout') }}">Wyloguj</a>
    {% else %}
        <a class="login-link" href="{{ url_for('auth_bp.login') }}">Zaloguj</a>
    {% endif %}
    {% if logged_in %}
    <a href="{{ url_for('infr_bp.locations') }}">Lokalizacje</a><br>
    <a href="{{ url_for('infr_bp.objects') }}">Obiekty</a><br>
    <a href="{{ url_for('infr_bp.types') }}">Typy Infrastruktury</a><br>
    <a href="{{ url_for('infr_bp.statuses') }}">Statusy</a><br>

    <h1>Lista elementów</h1>
    <ul>
         <div class="list-container">
            <div class="list-legend">
                <span>Id</span>
                <span>Typ</span>
                <span>Lokalizacja</span>
                <span>Obiekt</span>
                <span>Status</span>
                <span>Opis</span>

            </div>
            <ul class="formatted-list">
                {% for element in elements %}
                    <li>
                        <span>{{ element.id }}</span>
                        <span>{{ element.typ }}</span>
                        <span>{{ element.lokalizacja }}</span>
                        <span>{{ element.obiekt }}</span>
                        <span>{{ element.status }}</span>
                        <span>{{ element.opis }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </ul>
    {% endif %}
{% endblock %}

