{% extends 'index.html' %}
{% block head %}    
    <style>
    h1 {
        margin-top: 40px;
    }
    </style>
    <title>Obiekty Infrastruktury</title>
{% endblock %}

{% block content %}
    <link href="{{ url_for('static', filename='css/infrastructure.css') }}" rel="stylesheet">
    <div class="elements_container">
        <h1 class="signature">Lista obiektów infrastruktury</h1>
        {% if 'flash_message' in session %}
            <div class="flash-message">
                {{ session.pop('flash_message') }}
            </div>
        {% endif %}
        <ul class="table">
            <div class="list-container">
                <div class="list-legend">
                    <span>ID</span>
                    <span>Typ</span>
                    <span>Do Użytku</span>
                    {% if session['is_admin'] %}
                        <span>Usuwanie obiektu</span>
                    {% endif %}
                </div>
                <ul class="formatted-list">
                    {% for object in objects %}
                        <li>
                            <span>{{ object.id }}</span>
                            <span>{{ object.typ }}</span>
                            <span>{{ object.do_uzytku }}</span>
                            {% if session['is_admin'] %}
                                <span class="delete_button"><a href="{{ url_for('infr_bp.delete_object', id=object.id) }}">Usuń</a></span>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
        <a class="button" href="{{ url_for('infr_bp.create_object') }}">Dodaj nowy obiekt</a><br>
    </div>
{% endblock %}