{% extends 'index.html' %}
{% block head %}    
    <style>
    h1 {
        margin-top: 40px;
    }
    </style>
    <title>Typy Elementów Infrastruktury</title>
{% endblock %}

{% block content %}
    {% if logged_in %}
        <a class="logged-in-text"> Zalogowany z rolą {{ role_name }}</a>
        <a class="logout-link" href="{{ url_for('auth_bp.logout') }}">Wyloguj</a>
    {% else %}
        <a class="login-link" href="{{ url_for('auth_bp.login') }}">Zaloguj</a>
    {% endif %}
    <h1>Lista typów infrastruktury</h1>
    <ul>
         <div class="list-container">
            <div class="list-legend">
                <span>ID</span>
                <span>Typ</span>
                <span>Usuwanie typu</span>
            </div>
            <ul class="formatted-list">
                {% for type in types %}
                    <li>
                        <span>{{ type.id }}</span>
                        <span>{{ type.typ }}</span>
                        <span><a href="{{ url_for('infr_bp.delete_type', id=type.id) }}">Usuń</a></span>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </ul>
    <a href="{{ url_for('infr_bp.create_type') }}">Dodaj typ</a><br>
{% endblock %}