{% extends 'index.html' %}
{% from "./repairs/macros.html" import render_messages with context %}

{% block head %}
    <style>
    h1 {
        margin-top: 40px;
    }
    </style>
    <title>Role</title>
{% endblock %}

{% block content %}
    <link href="{{ url_for('static', filename='css/user_managment.css') }}" rel="stylesheet">

    {{render_messages(get_flashed_messages(with_categories=true))}}

    <div class="elements_container">
        <h1 class="signature">Lista ról</h1>
        <ul class="table">
            <div class="list-container">
                <div class="list-legend">
                    <span>ID</span>
                    <span>Nazwa roli</span>
                    <span>Usuwanie roli</span>
                </div>
                <ul class="formatted-list">
                    {% for role in roles %}
                        <li>
                            <span>{{ role.id }}</span>
                            <span>{{ role.rola }}</span>
                            <span class="delete_button"><a href="{{ url_for('auth_bp.role_delete', id=role.id) }}">Usuń</a></span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </ul>
        <a class="button" href="{{ url_for('auth_bp.role_create') }}">Dodaj nową rolę</a><br>
    </div>
{% endblock %}